{% extends 'layout.html' %}

{% block content %}
<div class="content" style="text-align: center;">
    <h4 style="font-size: 50px;">House of Organizational Items</h4>
    <img class="cgsupplierslogo" src="../static/images/award.png" width="150px" alt="cgsuppliers">

    <img class="cgsupplierslogo" src="../static/images/lapelpin.png" width="150px" alt="cgsuppliers">

    <img class="cgsupplierslogo" src="../static/images/pg.png" width="150px" alt="cgsuppliers">

    <img class="cgsupplierslogo" src="../static/images/certificate.png" width="150px" alt="cgsuppliers">


</div>
{% endblock %}