* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}
.navtopcontainer
{
    margin-left: 50px;
    margin-right: 50px;
}
header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cgsupplierslogo{
    margin-right: auto;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  

  .products {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
  
    display: flex; /* so child elements can use flexbox stuff too! */
  }
  .product-image img {
    max-width: 100%;
    max-width:100px;
  }
  .product-info {
    margin-top: auto;
  }

  @media (max-width: 920px) {
    .product-card {
      flex: 1 21%;
    }
  }