    <header>
        <img class="cgsupplierslogo" src="../static/images/logo.png" width="150px" alt="cgsuppliers">

        <nav>
            <ul class="nav nav-pills">
                
                <li class="nav-item"><a href="/product/award" class="nav-link {% if productType=='award' %}active{% endif %}">Award</a></li>
                <li class="nav-item"><a href="/product/lapelpin" class="nav-link {% if productType=='lapelpin' %}active{% endif %}">Lapel Pin</a></li>
                <li class="nav-item"><a href="/product/pg" class="nav-link {% if productType=='pg' %}active{% endif %}">Personalized Gifts</a></li>        
                <li class="nav-item"><a href="/product/printing" class="nav-link {% if productType=='printing' %}active{% endif %}"">Printing</a></li>  
                <li class="nav-item"><a href="/" class="nav-link {% if index %}active{% endif %}">Clients</a></li>        
                <li class="nav-item"><a href="/contactus" class="nav-link {% if contactus %}active{% endif %}">Contact Us</a></li>        
                
            </ul>
        </nav>
        <hr style="clear:both">
    </header>